body {
    margin: 0;
    padding: 0;
    background-color: #dfdfdf;
}

a {
    text-decoration: none;
}

#header {
    width: 100%;
    height: 80px;
    background-color: #333;
}

#headercontent {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logopic {
    float: left;
}

.blog {
    float: left;
    color: #dfcfcf;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 25px;
    font-family: "微软雅黑";
    cursor: pointer;
    padding: 5px;
}

.current {
    float: left;
    color: #dfcfcf;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 25px;
    font-family: "微软雅黑";
    cursor: pointer;
    padding: 3px;
    padding-bottom: 8px;
    background-color: #cccccc;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #333;
}

.blog:hover {
    color: #ffffff;
    background-color: #666;
}

#addblog {
    font-size: 20px;
}

#account {
    border-radius: 5px;
    height: 40px;
    width: 120px;
    text-align: center;
    margin-top: 15px;
    float: right;
    color: #CCC;
    font-size: 18px;
    font-family: "微软雅黑";
    padding-top: 11px;
    background-color: #000;
}

#hidemenu {
    height: 40px;
    width: 120px;
    display: none;
    float: right;
    z-index: 999;
    position: absolute;
    margin-left: 836px;
}

#hidemenu .hideli {
    list-style: none;
    border-radius: 2px;
    margin-top: 2px;
    height: 25px;
    width: 120px;
    text-align: center;
    color: #CCC;
    font-size: 16px;
    font-family: "微软雅黑";
    padding-top: 6px;
    cursor: pointer;
    background-color: #666;
}

#hidemenu .hideli:hover {
    background-color: #000;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/*left side*/
#mainarea {
    float: left;
    width: 720px;
    margin-left: 30px;
}

#nav {
    display: inline;
    width: 720px;
    height: 100px;
}

#nav #headpic {
    float: left;
    width: 64px;
    height: 64px;
    margin-left: 16px;
    margin-top: 8px;
    cursor: pointer;
}

#actionHolder {
    float: right;
    width: 630px;
    height: 100px;
}

.speTriangle {
    float: left;
    margin-top: 30px;
    margin-left: 5px;
    height: 20px;
    width: 15px;
    background: url(../images/feed-icons.png) no-repeat 0 -150px;
    z-index: 1;
    overflow: hidden;
}

#nav #headpic:hover {
    background-color: #666;
}

#nav #menubar {
    padding-left: 20px;
    float: right;
    width: 600px;
    height: 100px;
    background-color: #fff;
}

.kwicks {
    float: left;
    width: 590px;
    height: 100px;
}

.kwicks li {
    width: 140px;
    height: 100px;
    cursor: pointer;
    background-color: #fff;
}

.kwicks li img {
    float: left;
    margin-left: 20px;
}

#text {
}

#hidetext {
}

#pic {
}

#music {
}

#video {
}

.hidecls {
    float: left;
    width: 36px;
    height: 100px;
    margin-left: 10px;
    font-size: 25px;
    color: #666;
    text-align: center;
    padding-top: 16px;
    font-family: "微软雅黑";
}

.blank {
    clear: both;
}

#content {
    margin-top: 20px;
    width: 720px;
    height: 580px;
}

.feed {
    width: 720px;
    height: auto;
    float: left;
}

.emailHide {
    display: none;
}

.headDiv {
    float: left;
    width: 64px;
    height: 64px;
    margin-left: 16px;
    margin-top: 8px;
    cursor: pointer;
}

.triangle {
    float: left;
    margin-top: 30px;
    margin-left: 5px;
    height: 20px;
    width: 15px;
    background: url(../images/feed-icons.png) no-repeat 0 -150px;
    z-index: 1;
    overflow: hidden;
}

.feedDiv {
    float: right;
    width: 580px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

.dateHolder {
    width: 600px;
    height: 18px;
    margin: 10px 0;
}

.author {
    font-family: "黑体";
    margig: 0, 10px;
    float: left;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.dateDiv {
    float: right;
    margin-right: 20px;
    font-size: 14px;
    background-color: #666;
    color: #cfcfcf;
    padding: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.feed .titleDiv {
    font-size: 28px;
    font-family: "微软雅黑";
    margin-bottom: 10px;
}

.feed .picDiv {
    display: inline;
    float: left;
}

.clear {
    clear: both;
}

.feed .picDiv img {
    display: inline;
    border: none;
    float: left;
    width: 266px;
    height: 200px;
    margin: 10px;
}

.feed .descDiv {
    margin: 0 20px;
    font-size: 14px;
    padding-top: 20px;
}

.feed .contentDiv {
    float: left;
    text-align: justify;
    font-size: 16px;
    font-family: "微软雅黑";
    max-height: 300px;
    overflow: hidden;
}

.feed .videoDiv {
    margin-left: 30px;
    margin-bottom: 20px;
}

.feed .videoDiv img {
    width: 260px;
    height: 160px;
    cursor: pointer;
}

.feed .videoDiv embed {
    display: none;
    width: 480px;
    height: 350px;
}

.feed .videoDiv .stopVideo {
    display: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 18px;
    color: #666;
}

.feed .linkDiv {
    font-size: 22px;
    margin-bottom: 20px;
}

.feed .linkDiv a {
    text-decoration: underline;
}

.feed .seeHolder {
    float: left;
    height: 14px;
    width: 580px;
    margin-bottom: 10px;
    display: none;
}

.feed .seeAll {
    color: #000;
    float: right;
    font-size: 14px;
    cursor: pointer;
}

.feed .seeAll:hover {
    color: #666;
    text-decoration: underline;
}

.attrHolder {
    height: 14px;
    width: 600px;
}

.tagsDiv {
    float: left;
    font-size: 14px;
    color: #999;
}

.tagSpan {
    margin-right: 10px;
    cursor: pointer;
}

.tagSpan:hover {
    color: #333;
}

.optionsDiv {
    margin-right: 20px;
    float: right;
    font-size: 14px;
}

.optionsDiv .optDiv {
    margin-left: 10px;
    display: inline;
    color: #999;
}

.optionsDiv .optDiv {
    cursor: pointer;
}

.optionsDiv .optDiv:hover {
    color: #555;
}

#loading {
    height: 50px;
    width: 150px;
    margin-left: 300px;
}

#loading img {
    margin-left: auto;
}

#loading span {
    margin-top: 8px;
    float: right;
    font-size: 18px;
}

/*right side*/
#aside {
    float: right;
    width: 250px;
}

#search-wrapper {
    padding-top: 25px;
    padding-left: 15px;
    width: 235px;
    height: 75px;
    background-color: #CCCCCC;
}

#tag-search-box {
    background: #F7F8F8;
    height: 38px;
    width: 220px;
    border: 1px solid #C2C5C7;
    border-bottom-color: #ABADAF;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

#tag-go-search {
    float: left;
    margin: 0;
    width: 36px;
    height: 36px;
    border: 0;
    background-image: url(../images/search.png);
}

#tag-search-input {
    margin-top: 8px;
    background: transparent;
    margin-left: 5px;
    border: 0;
    outline: none;
    height: 18px;
    line-height: 18px;
    width: 150px;
    font-size: 14px;
}

#else {
    width: 250px;
    height: 500px;
    margin-top: 20px;
    background-color: #cccccc;
}

#dia_account, #hide_email {
    display: none;
}

.dia_label {
    font-family: "隶书";
    margin-right: 30px;
}
