body {
    margin: 0;
    padding: 0;
    background-color: #dfdfdf;
}

a {
    text-decoration: none;
}

#header {
    width: 100%;
    height: 80px;
    background-color: #333;
}

.blog {
    cursor: pointer;
}

#headercontent {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logopic {
    float: left;
}

.blog {
    float: left;
    height: 60px;
    line-height: 62px;
    padding: 10px 13px;
    color: #666;
    text-shadow: 1px 1px 2px #0B2C45;
    font-size: 16px;
}

.current {
    float: left;
    height: 60px;
    line-height: 62px;
    padding: 10px 13px;
    color: #ccc;
    text-shadow: 1px 1px 2px #0B2C45;
    font-size: 16px;
}

.blog:hover {
    color: #ffffff;
}

.misc-action {
    float: right;
    padding-top: 12px;
    height: 33px;
    width: 120px;
}

ul {
    list-style: none;
}

.hideli {
    width: 20px;
    height: 20px;
    display: block;
    text-indent: -999px;
    background-image: url('../images/headers.png');
    _background-image: url('/img/icon/header-ie.$5765.png');
    background-repeat: no-repeat;
}

#setId {
    float: left;
    margin-left: 10px;
    background-position: -72px -98px;
}

#accountId {
    float: left;
    background-position: 0 -98px;
}

#logoutId {
    float: right;
    background-position: -109px -98px;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/*left side*/
#mainarea {
    float: left;
    width: 720px;
    margin-left: 30px;
}

#nav {
    display: inline;
    width: 720px;
    height: 100px;
}

#nav #headpic {
    float: left;
    width: 64px;
    height: 64px;
    margin-left: 16px;
    margin-top: 8px;
    cursor: pointer;
}

#actionHolder {
    float: right;
    width: 630px;
    height: 100px;
}

.speTriangle {
    float: left;
    margin-top: 30px;
    margin-left: 5px;
    height: 20px;
    width: 15px;
    background: url(../images/feed-icons.png) no-repeat 0 -150px;
    z-index: 1;
    overflow: hidden;
}

#nav #headpic:hover {
    background-color: #666;
}

#nav #menubar {
    padding-left: 20px;
    float: right;
    width: 600px;
    height: 100px;
    background-color: #fff;
}

.kwicks {
    float: left;
    width: 590px;
    height: 100px;
}

.kwicks li {
    width: 140px;
    height: 100px;
    cursor: pointer;
    background-color: #fff;
}

.kwicks li img {
    float: left;
    margin-left: 20px;
}

#text {
}

#hidetext {
}

#pic {
}

#music {
}

#video {
}

.hidecls {
    float: left;
    width: 36px;
    height: 100px;
    margin-left: 10px;
    font-size: 25px;
    color: #666;
    text-align: center;
    padding-top: 16px;
    font-family: "微软雅黑";
}

.blank {
    clear: both;
}

#content {
    margin-top: 20px;
    width: 720px;
    height: 580px;
}

.feed {
    width: 720px;
    height: auto;
    float: left;
    color: #333;
    margin-bottom: 20px;
}

.feed .blogIDHide {
    display: none;
}

.feed .emailHide {
    display: none;
}

.headDiv {
    float: left;
    width: 64px;
    height: 64px;
    margin-left: 16px;
    margin-top: 8px;
    cursor: pointer;
}

.triangle {
    float: left;
    margin-top: 30px;
    margin-left: 5px;
    height: 20px;
    width: 15px;
    background: url(../images/feed-icons.png) no-repeat 0 -150px;
    z-index: 1;
    overflow: hidden;
}

.feedDiv {
    float: right;
    width: 580px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.dateHolder {
    width: 600px;
    height: 18px;
    margin: 10px 0;
}

.author {
    font-family: "黑体";
    margig: 0, 10px;
    float: left;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.author:hover {
    color: #333;
}

.dateDiv {
    float: right;
    margin-right: 20px;
    font-size: 14px;
    background-color: #666;
    color: #cfcfcf;
    padding: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.feed .titleDiv {
    font-size: 28px;
    font-family: "微软雅黑";
    margin-bottom: 10px;
}

.feed .picDiv {
    display: inline;
    float: left;
    max-height: 500px;
    overflow: hidden;
}

.clear {
    clear: both;
}

.feed .picDiv img {
    display: inline;
    border: none;
    float: left;
    max-width: 500px;
    margin: 10px;
}

.feed .descDiv {
    margin: 0 20px;
    font-size: 14px;
    padding-top: 20px;
}

.feed .contentDiv {
    float: left;
    text-align: justify;
    font-size: 16px;
    font-family: "微软雅黑";
    max-height: 300px;
    overflow: hidden;
}

.feed .videoDiv {
    margin-left: 30px;
    margin-bottom: 20px;
}

.feed .videoDiv img {
    width: 260px;
    height: 160px;
    cursor: pointer;
}

.feed .videoDiv embed {
    display: none;
    width: 480px;
    height: 350px;
}

.feed .videoDiv .stopVideo {
    display: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 18px;
    color: #666;
}

.feed .linkDiv {
    font-size: 22px;
    margin-bottom: 20px;
}

.feed .linkDiv a {
    text-decoration: underline;
}

.feed .seeHolder {
    float: left;
    height: 14px;
    width: 580px;
    margin-bottom: 10px;
}

.feed .seeAll {
    color: #000;
    float: right;
    font-size: 14px;
    cursor: pointer;
}

.feed .seeAll:hover {
    color: #666;
    text-decoration: underline;
}

.feed .feedComment {
    display: none;
    padding: 0 20px;
    float: right;
    width: 560px;
    background-color: #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.feedComment .cmtArea {
    width: 600px;
}

.cmtArea .cmtText {
    float: left;
    width: 480px;
    height: 24px;
    resize: none;
    padding-top: 8px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px #999 solid;
}

.cmtArea .cmtButton {
    float: right;
    background-color: #666;
    margin-right: 40px;
    width: 40px;
    height: 23px;
    padding-top: 5px;
    margin-top: 12px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.cmtArea .cmtButton:hover {
    background-color: #333;
}

.cmtButton .cmtSpan {
    color: #fff;
}

.feedComment .cmtList {
    float: left;
    width: 550px;
    margin-top: 10px;
    display: inline;
}

.feedComment .cmtUl {
    padding: 0;
    margin: 0;
    display: inline;
    width: 550px;
    float: left;
    list-style: none;
}

.cmtUl .emailDiv {
    display: none;
}

.cmtUl .cmtLi {
    padding: 5px 0;
    float: left;
    width: 560px;
    display: inline;
    border-bottom: 1px #999 solid;
}

.cmtUl .cmtLi img {
    float: left;
    margin-right: 10px;
}

.cmtli .cmtMain {
    float: right;
    margin-left: 80px;
    height: 50px;
    width: 500px;
}

.cmtMain .cmtNick {
    display: inline;
    cursor: pointer;
}

.cmtMain .cmtContent {
    font-size: 14px;
    width: 500px;
}

.feedComment .shQi {
    float: left;
    cursor: pointer;
}

.feedComment .shQi:hover {
    color: #000;
}

.attrHolder {
    height: 14px;
    width: 600px;
}

.tagsDiv {
    float: left;
    min-width: 40px;
    font-size: 14px;
    color: #999;
}

.tagSpan {
    float: left;
    margin-right: 10px;
    cursor: pointer;
    height: 10px;
}

.tagSpan:hover {
    color: #333;
}

.optionsDiv {
    margin-right: 20px;
    float: right;
    font-size: 14px;
}

.optionsDiv .optDiv {
    margin-left: 10px;
    display: inline;
    color: #999;
}

.optionsDiv .optDiv {
    cursor: pointer;
}

.optionsDiv .optDiv:hover {
    color: #555;
}

#loading {
    height: 50px;
    width: 150px;
    margin-left: 300px;
}

#noMore {
    float: left;
    margin-left: 250px;
    height: 200px;
}

#loading img {
    margin-left: auto;
}

#tagName {
    float: left;
    height: 50px;
    width: 300px;
    margin-left: 100px;
    background-image: url(../images/tag.png);
    background-repeat: no-repeat;
}

#loading, #tagName span {
    margin-top: 8px;
    margin-left: 20px;
    float: left;
    font-size: 18px;
}

#content .noFollow {
    width: 620px;
    height: 35px;
    padding-top: 15px;
    margin-bottom: 36px;
    background-color: #ccc;
    margin-left: 100px;
    border-radius: 4px;
}

#content .noFollow span {
    margin-left: 20px;
    color: #666;
}

#content .boKeDiv {
    width: 620px;
    height: 100px;
    margin-left: 100px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 4px;
}

.boKeDiv .infoDiv {
    float: left;
    padding-top: 16px;
    padding-left: 10px;
}

.infoDiv .portraitDiv {
    float: left;
}

.infoDiv .boKeName {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 25px;
    font-family: "黑体";
    color: #333;
    display: inline;
    cursor: pointer;
}

.infoDiv .boKeName:hover {
    color: #666;
    text-decoration: underline;
}

.infoDiv .nickDiv {
    float: left;
    color: #333;
    margin-left: 10px;
    margin-top: 8px;
}

.boKeDiv .followDiv {
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    width: 100px;
    height: 30px;
    background-color: #666;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding-top: 12px;
    border-radius: 4px;
}

.boKeDiv .followDiv:hover {
    background-color: #333;
}

.followDiv span {
    color: #fff;
    font-size: 18px;
}

/*right side*/
#aside {
    float: right;
    width: 250px;
}

#search-wrapper {
    padding-top: 25px;
    padding-left: 15px;
    width: 235px;
    height: 75px;
    background-color: #CCCCCC;
}

#tag-search-box {
    background: #F7F8F8;
    height: 38px;
    width: 220px;
    border: 1px solid #C2C5C7;
    border-bottom-color: #ABADAF;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

#tag-go-search {
    float: left;
    margin: 0;
    width: 36px;
    height: 36px;
    border: 0;
    background-image: url(../images/search.png);
}

#tag-search-input {
    margin-top: 8px;
    background: transparent;
    margin-left: 5px;
    border: 0;
    outline: none;
    height: 18px;
    line-height: 18px;
    width: 150px;
    font-size: 14px;
}

#else {
    width: 250px;
    height: 500px;
    margin-top: 20px;
}

#else .follows {
    width: 220px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 4px;
}

.follows .followUsers {
    width: 220px;
    height: 26px;
    text-align: center;
    padding-top: 8px;
    border-bottom: 1px #aaa solid;
    cursor: pointer;
    border-radius: 4px;
}

.followUsers:hover {
    background-color: #dfdfdf;
    border: 1px #aaa solid;
    width: 218px;
    height: 25px;
}

.liuBai {
    width: 220px;
    height: 26px;
    background-color: #dfdfdf;
}

.followUsers, .followTags span {
    font-size: 14px;
    color: #444;
}

.follows .followTags .tags-Div {
    width: 220px;
    height: 26px;
    text-align: center;
    padding-top: 8px;
    border-bottom: 1px #aaa solid;
    border-radius: 4px;
}

.follows .followTags .tagItem {
    width: 220px;
    height: 26px;
    text-align: center;
    padding-top: 8px;
    border-bottom: 1px #aaa solid;
    border-radius: 4px;
    cursor: pointer;
}

.follows .followTags .tagItem:hover {
    background-color: #f0f1f2;
}

/*其他*/
#dia_account, #hide_email, #hide_nick {
    display: none;
}

.dia_label {
    font-family: "隶书";
    margin-right: 30px;
}

#unTag, #followTag {
    float: left;
    margin-left: 30px;
    width: 96px;
    height: 30px;
    background-color: #666;
    cursor: pointer;
    border-radius: 4px;
}

#unTag:hover, #followTag:hover {
    background-color: #333;
}

#unTag span, #followTag span {
    color: #fff;
    font-size: 14px;
}

#user {
    margin-left: 100px;
    width: 620px;
    float: left;
    height: 80px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
}

#userPic {
    display: inline;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

#followBtn {
    display: none;
}

#followBtn, #unBtn {
    float: left;
    margin: 20px 0 0 80px;
    width: 66px;
    height: 20px;
    padding: 10px 20px;
    background-color: #666;
    border-radius: 5px;
    cursor: pointer;
}

#followBtn:hover, #unBtn:hover {
    background-color: #333;
}

#followBtn span, #unBtn span {
    color: #fff;
}

.boDiv {
    float: left;
    padding-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    color: #333;
}

.boDiv:hover {
    text-decoration: underline;
    color: #000;
}

.boDiv .boSpan {
    font-size: 18px;
}

.emHide {
    display: none;
}